.pageContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 768px) {
  .pageContainer {
    height: calc(100vh - 80px);
  }
}
